.hidden {
	display: none;
}

body {
	background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537918835/_downloadfiles_wallpapers_2560_1440_frozen_elsa_snow_queen_palace_12464.jpg);
	background-size: unset;
	background-repeat: no-repeat;
	font-family: 'Signika', sans-serif;
	color: white;
	text-shadow:
		-1px -1px 0 rgba(32, 34, 98),
		1px -1px 0 rgba(32, 34, 98),
		-1px 1px 0 rgba(32, 34, 98),
		1px 1px 0 rgba(32, 34, 98);
}

.loadPageContainer {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	margin-bottom: 90px;
}

.loadPage {
	display: flex;
	flex-direction: column;
	align-self: center;
	align-items: center;
	justify-content: center;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	background-color: rgba(32, 34, 98, .9);
	width: 340px;
	height: 600px;
	border:2px solid rgba(32, 34, 98);
	margin-top: 20px;
}

.intro1 {
	width: 320px;
	text-align: center;
	display: flex;
	flex-direction: column;
	font-size: 25px;
	margin-bottom: 0;
}

img {
	height: 300px;
	width: 200px;
	align-self: center;
}

.next {
	width: 40%;
	height: 9%;
	margin-bottom: 20px;
	font-size: 25px;
	font-family: 'Signika', sans-serif;
	color: white;
	background-color: rgba(255, 255, 255, .7);
	text-shadow:
		-1px -1px 0 rgba(32, 34, 98),
		1px -1px 0 rgba(32, 34, 98),
		-1px 1px 0 rgba(32, 34, 98),
		1px 1px 0 rgba(32, 34, 98);
	border-radius: 5px;
}

.intro2 {
	width: 320px;
	height: 100px;
	text-align: center;
	display: flex;
	flex-direction: row;
	font-size: 30px;
	margin-bottom: 0;
	padding-bottom: 40px;
}

.video {
	width: 320px;
	height: 240px;
	margin: 10px 10px 30px 10px;
	padding-bottom: 30px;
}

.playButton {
	width: 43%;
	height: 9%;
	margin-bottom: 20px;
	font-size: 25px;
	font-family: 'Signika', sans-serif;
	color: white;
	background-color: rgba(255, 255, 255, .7);
	text-shadow:
		-1px -1px 0 rgba(32, 34, 98),
		1px -1px 0 rgba(32, 34, 98),
		-1px 1px 0 rgba(32, 34, 98),
		1px 1px 0 rgba(32, 34, 98);
	border-radius: 5px;
}

.board {
	align-self: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 40px;
	margin-right: 5px;
	margin-left: 5px;
}

.button {
	height: 90px;
	width: 80px;
	border: 2px solid rgba(32, 34, 98);
	background-color: rgba(255, 255, 255, .7);
	border-radius: 2px;
	transition: background-color 1s;
}

.button:hover  {
	background-color: rgba(32, 34, 98, .4);
}
	
h1 {
	margin: 50px 10px 50px 10px;
	align-self: center;
	text-align: center;
}

.boat1Part1 {
	background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)5px 0;
	background-repeat: no-repeat;
	background-size: 160px 90px;
	border-right: none;
	margin-right: 0;
}

.boat1Part2 {
	background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)-80px 0;
	background-repeat: no-repeat;
	background-size: 160px 90px;
}

.boat2Part1 {
	background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537991059/pirate_ship.png)0 10px;
	background-repeat: no-repeat;
	background-size: 90px 160px;
}

.boat2Part2 {
	background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537991059/pirate_ship.png) 0 -80px;
	background-repeat: no-repeat;
	background-size: 90px 160px;	
}

.boat3Part1 {
	background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)5px 0;
	background-repeat: no-repeat;
	background-size: 160px 90px;
}

.boat3Part2 {
	background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)-80px 0;
	background-repeat: no-repeat;
	background-size: 160px 90px;
}

.snowflake {
	background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537994163/snowflake_2.png) 5px 0;
	background-repeat: no-repeat;
	background-size: 70px 85px;
}

.hidden {
	display: none;
}

.playAgainContainerMobile {
	font-size: 35px;
	display: flex;
	flex-direction: column;
	/*justify-content: center;*/
	align-items: center;
	border-radius: 10px;
	background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
	background-color: rgba(32, 34, 98, .9);
	width: auto;
	height: 600px;
	border:2px solid rgba(32, 34, 98);
	/*margin-right: 10px;*/
	margin-top: 20px;
	margin-bottom: 100px;
	transition: 1s;
	animation: opacity .6s ease-in;
}


@keyframes opacity:  {
	0%{
		opacity: 0;
	}
	25%{
		opacity: .25;
	}
	50% {
		opacity: .5;
	}
	75% {
		opacity: .75;
	}

	100% {
		opacity: 1;
	}
}

.winningScreenMobile {
	width: 100%;
	height: 100px;
	display: block;
	margin-left: auto;
	padding: 10px;
	transition: all ease-in-out;
	transform: scale(0.8);
	text-align: center;
}

.playAgainMobile {
	display: block;
	/*position: absolute;
	bottom: 20px;
	left: 85px;*/
	width: 200px;
	height: 50px;
	font-size: 30px;
	font-family: 'Signika', sans-serif;
	color: white;
	background-color: rgba(255, 255, 255, .7);
	background-repeat: repeat;
	text-shadow:
		-1px -1px 0 rgba(32, 34, 98),
		1px -1px 0 rgba(32, 34, 98),
		-1px 1px 0 rgba(32, 34, 98),
		1px 1px 0 rgba(32, 34, 98);
	border-radius: 5px;
	transition: all 0.2s ease-in-out;
	transform: scale(0.8);
	position: relative;
	bottom: 230px;
	left: 85px;
}

.annaElsaPicMobile {
	height: 340px;
	width: 300px;
	position: relative;
	top: 70px;
	right:20px;
}

@media screen and (min-width: 500px) {
	body {
		background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537918835/_downloadfiles_wallpapers_2560_1440_frozen_elsa_snow_queen_palace_12464.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Signika', sans-serif;
		color: white;
		text-shadow:
			-1px -1px 0 rgba(32, 34, 98),
			1px -1px 0 rgba(32, 34, 98),
			-1px 1px 0 rgba(32, 34, 98),
			1px 1px 0 rgba(32, 34, 98);
	}

	.button {
		height: 100px;
		width: 100px;
		border: 2px solid rgba(32, 34, 98);
		background-color: rgba(255, 255, 255, .7);
		border-radius: 2px;
		transition: background-color 1s;
	}
	.boat1Part1 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)9px 5px;
		background-repeat: no-repeat;
		background-size: 160px 90px;
		border-right: none;
		margin-right: 0;
	}

	.boat1Part2 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)-106px 5px;
		background-repeat: no-repeat;
		background-size: 200px 90px;
	}

	.boat2Part1 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537991059/pirate_ship.png) 5px 0;
		background-repeat: no-repeat;
		background-size: 90px 200px;
	}

	.boat2Part2 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537991059/pirate_ship.png) 5px -108px;
		background-repeat: no-repeat;
		background-size: 90px 200px;	
	}

	.boat3Part1 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png) 0 5px;
		background-repeat: no-repeat;
		background-size: 200px 90px;
	}

	.boat3Part2 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)-106px 5px;
		background-repeat: no-repeat;
		background-size: 200px 90px;
	}

	.snowflake {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537994163/snowflake_2.png) 8px 5px;
		background-repeat: no-repeat;
		background-size: 90px 90px;
	}
	.loadPageContainer {
		display: flex;
		justify-content: center;
		/*align-items: center;*/
		margin-bottom: 90px;
	}

	.loadPage {
		display: flex;
		flex-direction: column;
		align-self: center;
		align-items: center;
		justify-content: center;
		background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
		background-color: rgba(32, 34, 98, .9);
		width: 400px;
		height: 600px;
		border:2px solid rgba(32, 34, 98);
		margin-top: 20px;
	}

	.intro1 {
		width: 320px;
		text-align: center;
		display: flex;
		flex-direction: column;
		font-size: 25px;
		margin-bottom: 20px;
	}

	img {
		height: 300px;
		width: 200px;
		align-self: center;
		margin: 10px;
	}

	.next {
		width: 40%;
		height: 9%;
		margin-bottom: 15px;
		font-size: 25px;
		font-family: 'Signika', sans-serif;
		color: white;
		background-color: rgba(255, 255, 255, .7);
		text-shadow:
			-1px -1px 0 rgba(32, 34, 98),
			1px -1px 0 rgba(32, 34, 98),
			-1px 1px 0 rgba(32, 34, 98),
			1px 1px 0 rgba(32, 34, 98);
		border-radius: 5px;
	}

	.intro2 {
		width: 320px;
		height: 100px;
		text-align: center;
		display: flex;
		flex-direction: row;
		font-size: 30px;
		margin-bottom: 0;
		padding-bottom: 40px;
	}

}

@media screen and (min-width: 600px) {
	body {
		background-image: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537918835/_downloadfiles_wallpapers_2560_1440_frozen_elsa_snow_queen_palace_12464.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		font-family: 'Signika', sans-serif;
		color: white;
		text-shadow:
			-1px -1px 0 rgba(32, 34, 98),
			1px -1px 0 rgba(32, 34, 98),
			-1px 1px 0 rgba(32, 34, 98),
			1px 1px 0 rgba(32, 34, 98);
	}

	.board {
		align-self: flex-end;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-top: 40px;
		margin-right: 50px;
	}

	h1 {
		margin-bottom: 50px;
		margin-top: 50px;
		margin-left: 20px;
		align-self: flex-start;
	}

	.button {
		height: 110px;
		width: 120px;
		border: 2px solid rgba(32, 34, 98);
		background-color: rgba(255, 255, 255, .7);
		border-radius: 2px;
		transition: background-color 1s;
	}

	.button:hover  {
		background-color: rgba(32, 34, 98, .4);
	}

	.loadPageContainer {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 70px;
	}

	.loadPage {
		display: flex;
		flex-direction: column;
		align-items: center;
		/*justify-content: center;*/
		background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
		background-color: rgba(32, 34, 98, .9);
		width: 700px;
		height: 600px;
		border:2px solid rgba(32, 34, 98);
		margin-top: 50px;
	}

	.intro1 {
		width: 600px;
		height: 500px;
		text-align: left;
		display: flex;
		flex-direction: row;
		font-size: 35px;
		margin-bottom: 0;
	}

	img {
		height: 400px;
		width: 300px;
		align-self: center;
	}

	.next {
		width: 30%;
		height: 10%;
		margin-bottom: 20px;
		font-size: 35px;
		font-family: 'Signika', sans-serif;
		color: white;
		background-color: rgba(255, 255, 255, .7);
		text-shadow:
			-1px -1px 0 rgba(32, 34, 98),
			1px -1px 0 rgba(32, 34, 98),
			-1px 1px 0 rgba(32, 34, 98),
			1px 1px 0 rgba(32, 34, 98);
		border-radius: 5px;
	}

	.intro2 {
		width: 600px;
		height: 100px;
		text-align: center;
		display: flex;
		flex-direction: row;
		font-size: 40px;
		margin-bottom: 0;
		padding-bottom: 40px;
	}

	.video {
		width: 320px;
		height: 240px;
		margin: 10px 10px 30px 10px;
		padding-bottom: 30px;
	}

	.playButton {
		width: 30%;
		height: 10%;
		margin-bottom: 20px;
		font-size: 35px;
		font-family: 'Signika', sans-serif;
		color: white;
		background-color: rgba(255, 255, 255, .7);
		text-shadow:
			-1px -1px 0 rgba(32, 34, 98),
			1px -1px 0 rgba(32, 34, 98),
			-1px 1px 0 rgba(32, 34, 98),
			1px 1px 0 rgba(32, 34, 98);
		border-radius: 5px;
	}


	.boat1Part1 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)50px 0;
		background-repeat: no-repeat;
		background-size: 300px 110px;
		border-right: none;
		margin-right: 0;
	}

	.boat1Part2 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)-75px 0;
		background-repeat: no-repeat;
		background-size: 300px 110px;
	}

	.boat1Part3 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)-200px 0;
		background-repeat: no-repeat;
		background-size: 300px 110px;
	}

	.boat2Part1 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537991059/pirate_ship.png)0 40px;
		background-repeat: no-repeat;
		background-size: 110px 300px;
	}

	.boat2Part2 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537991059/pirate_ship.png) 0 -75px;
		background-repeat: no-repeat;
		background-size: 110px 300px;	
	}

	.boat2Part3 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537991059/pirate_ship.png) 0 -200px;
		background-repeat: no-repeat;
		background-size: 110px 300px;
	}

	.boat3Part1 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)15px 0;
		background-repeat: no-repeat;
		background-size: 200px 110px;
	}

	.boat3Part2 {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537971514/pirate_ship2.png)-100px 0;
		background-repeat: no-repeat;
		background-size: 200px 110px;
	}

	.snowflake {
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537994163/snowflake_2.png) 10px 0;
		background-repeat: no-repeat;
		background-size: 100px 110px;
	}

	.hidden {
		display: none;
	}


	.playAgainContainer {
		height:650px;
		width: 800px;
		font-size: 50px;
		display: block;
		position: relative;
		top: 40px;
		left: 15%;
		border-radius: 10px;
		background: url(https://res.cloudinary.com/drsaojfyp/image/upload/v1537918281/background1.jpg);
		background-repeat: no-repeat;
		background-size: 800px 500px;
		text-align: left;
		transition: 1s;
		animation: opacity .6s ease-in;
		margin-bottom: 40px;
	}

	@keyframes opacity:  {
		0%{
			opacity: 0;
		}
		25%{
			opacity: .25;
		}

		50% {
			opacity: .5;
		}
		75% {
			opacity: .75;
		}

		100% {
			opacity: 1;
		}
	}

	.winningScreen {
		width: 300px;
		display: block;
		height:400px;
		width: 400px;
		padding: 10px;
		padding-left: 30px;
		transition: all ease-in-out;
		transform: scale(0.8);
	}

	/*@keyframes sizeOne {
		0%{
			opacity: 0;
		}
		25%{
			opacity: .25;
		}

		50% {
			opacity: .5;
		}
		75% {
			opacity: .75;
		}

		100% {
			opacity: 1;
		}
	}*/



	.playAgain {
		display: block;
		position: absolute;
		bottom: 45%;
		left: 5%;
		width: 200px;
		height: 50px;
		font-size: 30px;
		font-family: 'Signika', sans-serif;
		color: white;
		background-color: rgba(255, 255, 255, .7);
		text-shadow:
			-1px -1px 0 rgba(32, 34, 98),
			1px -1px 0 rgba(32, 34, 98),
			-1px 1px 0 rgba(32, 34, 98),
			1px 1px 0 rgba(32, 34, 98);
		border-radius: 5px;
		transition: all 0.2s ease-in-out;
		transform: scale(0.8);
	}

	/*@keyframes sizeTwo {
		0%{
			height:0;
			width: 0;
			font-size:0px;
		}
		25%{
			height:10px;
			width: 25px;
			font-size: 0;
		}

		50% {
			height: 20px;
			width: 50px;
			font-size: 14px;
		}
		75% {
			height: 30px;
			width: 75px;
			font-size: 30px;
		}

		100% {
			height: 40px;
			width: 100px;
			font-size:40px;
		}
	}*/

}



